<div>
    <div class="con-benner">
        <img src="~/assets/image/benner.webp" alt="" class="benner-cover">
    </div>

    <div class="con-menu-header">
        <div class="container">
            <div class="nav-global">
                <div class="sub-item">
                    <span class="sub-item-title">
                        <a>
                            Sell on Konfulon
                        </a>
                        <img src="~/assets/image/select.svg" alt="" width="14px" class="margin-select">
                    </span>
                    <div class="sub-list">
                        <div class="sub-list-dev">Seller Log In</div>
                        <div class="sub-list-dev">中国卖家入驻</div>
                        <div class="sub-list-dev">Non-Chinese Seller Registration</div>
                    </div>
                </div>
                <div class="sub-item">
                    <a href="">Cookie Preferences</a>
                </div>
                <div class="sub-item">
                    <span class="sub-item-title">
                        <a>
                            Help
                        </a>
                        <img src="~/assets/image/select.svg" alt="" width="14px" class="margin-select">
                    </span>
                    <div class="sub-list">
                        <div class="sub-list-dev">Customer Service</div>
                        <div class="sub-list-dev">Disputes & Reports</div>
                        <div class="sub-list-dev">Report IPR infringement</div>
                    </div>
                </div>
                <div class="sub-item">
                    <span class="sub-item-title">
                        <a>
                            English / USD
                        </a>
                        <img src="~/assets/image/select.svg" alt="" width="14px" class="margin-select">
                    </span>
                    <div class="sub-list">
                        <div class="con-ship">
                            <label class="ship-titile">Ship to</label>
                            <select class="select-ship">
                                <option value="0">United States of America</option>
                                <option value="1">Cambodia</option>
                                <option value="2">Canada</option>
                                <option value="3">China</option>
                                <option value="4">Russia</option>
                            </select>
                            <label class="ship-titile">Language</label>
                            <select class="select-ship">
                                <option value="0">English</option>
                                <option value="1">Chinese</option>
                                <option value="2">Khmer</option>
                                <option value="3">French</option>
                                <option value="4">Russian</option>
                            </select>
                            <label class="ship-titile">Currency</label>
                            <select class="select-ship">
                                <option value="0">USD</option>
                                <option value="1">CNY</option>
                                <option value="2">EUR</option>
                                <option value="3">KHR</option>
                                <option value="4">RUB</option>
                            </select>
                            <button class="btn-ship">Save</button>
                        </div>
                    </div>
                </div>
                <div class="sub-item">
                    <a href="">Save big on our app!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="header">
        <div class="container">
            <nuxt-link to="/home">
            <div class="header-left">
                <img src="~/assets/image/icon.png" alt="" class="icon-image">
            </div>
            </nuxt-link>
            <div class="hm-right">
                <div class="searchbar-form">
                    <input type="search" placeholder="Search Product" class="search-key-box">
                </div>
                <div class="box-select">
                    <select class="select-option">
                        <option value="0">All Categories</option>
                        <option value="1">Women's Clothing</option>
                        <option value="2">Men's Clothing</option>
                        <option value="3">Cellphones & Telecommunications</option>
                        <option value="4">Computer & Office</option>
                        <option value="5">Consumer Electronics</option>
                        <option value="6">Jewelry & Accessories</option>
                        <option value="7">Home & Gardenr</option>
                        <option value="8">Luggage & Bags</option>
                        <option value="9">Shoes</option>
                        <option value="10">Mother & Kids</option>
                        <option value="11">Sports & Entertainment</option>
                        <option value="12">Beauty & Health</option>
                    </select>
                </div>
                <div class="search-option">
                    <img src="../../assets/icon/Search.svg" alt="" width="22px">
                </div>
                <div class="con-box-option">
                    <img src="~/assets/image/shopping_cart.svg" alt="" width="40px">
                    <div class="con-text-card">
                        <p>0</p>
                        <p>Card</p>
                    </div>
                </div>
                <div class="con-box-option">
                    <img src="~/assets/image/love.svg" alt="" width="40px">
                    <div class="con-text-card">
                        <p>Wish</p>
                        <p>List</p>
                    </div>
                </div>
                <div class="con-box-option">
                    <img src="~/assets/image/people.svg" alt="" width="40px">
                    <div class="con-text-card">
                        <p>Hi, POP-i</p>
                        <p>My Konfulon</p>
                    </div>
                </div> <br>

                <div class="list-categories">
                    <p>vintage sweatshirt</p>
                    <p>apple</p>
                    <p>sweater women hoodie</p>
                    <p>macro lens</p>
                    <p>mobile phones xiaomi</p>
                    <p style="border: none;">denim skirt</p>
                </div>
            </div>
        </div>
    </div>
</div>