.background{
  width: 1920px;
  height: 150vh;
  -o-object-fit: cover;
  object-fit: cover;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu-area a{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: black;
  height: 50px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
}
.menu-area a:hover{
  background: tomato;
  color: yellow;
  
}
.menu-area ul{
  list-style: none;
  display:flex;
 
  
}
.menu-area li{
  position: relative;
  width: 100%;
  text-align: center;
  
}
.menu-area li:hover .dropdown-1 > li{
  display: block;
  top: 0;
}
.dropdown-1 li{
  display: none;
  position: relative;
  
}
.dropdown-1{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  
}
.dropdown-1 li:hover .dropdown-2 li{
  display: block;
}
.dropdown-2 li{
  display: none;
}
.dropdown-2{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
}
.container{
  display: table;
}

.leftcolumn{
  background: url(../../assets/image/w7.WEBP);
  background-size: 100%;
  width: 475px;
  height: 475px;
  margin-top: 25px;
  background-position: center;
  transition: 1s;
  cursor: pointer;
  border: 1px solid palevioletred;
  display: table-cell;
  padding: 10px;
}
.leftcolumn:hover{
  background-size: 150%;
  background-position: center;
}
.centercolumn{
  width: 600px;
  display: table-cell;
  padding: 10px;
}
.centercolumn p{
  font-size: 15px;
  line-height: 1.3em;
}
.centercolumn a{
  margin-left: 150px;
  font-size: 15px;
  color: black;
}
.centercolumn a:hover{
  color: red;
}
.p1{
  font-weight: bold;
  font-size: 25px;
}
.p2{
  text-decoration-line: line-through;
  color: gray;
}
.p3{
  color: red;
  background-color: pink;
  font-size: 12px;
  padding: 3px;
  border-radius: 3px;
}
.dis{
  font-size: 13px;
}
.c1{
  background-color: red;
  padding: 5px;
  color: white;
  font-size: 13px;
  border-radius: 3px;
}
.c2{
  background-color: rgb(247, 163, 8);
  padding: 5px;
  color: white;
  font-size: 13px;
  border-radius: 3px;
}
.c3{
  color: rgb(75, 75, 247);
  font-size: 16px;
}
.pieces_available{
  font-size: 13px;
  color: gray;
}
.shipping {
  font-size: 14px;
  cursor: pointer;
}
.shipping:hover{
  color: red;
}
.buy_now{
  background-color: red;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  padding: 15px 50px;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
}
.buy_now:hover{
background-color: rgb(241, 53, 53);
}
.add_to_cart{
  background-color: rgb(247, 163, 8);
  color: white;
  font-size: 18px;
  font-weight: bolder;
  padding: 15px 50px;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
  margin-left:10px;
}
.add_to_cart:hover{
  background-color: rgb(233, 172, 58);
}
.smallPic img{
  width: 65px;
  height: 70px;
  border: 2px solid pink;
  margin-top: 10px;
  cursor: pointer;
  margin: 5px;
  margin-top: 14px;
  border-radius: 5px;
}
.smallPic img:hover{
  border: 2px solid red;
}

