<div>
    <div class="list-box">
        <p>CATEGORIES</p>
        <span class="see-all">See All > </span>
    </div>
    <div class="list-box-item" v-for="(list,index) in categories">
        <div class="list-categories">
            <img :src="list.img" alt="" width="25px">
            <span class="see-all">
                {{list.name}}
            </span>
        </div>
        <div class="categories-hover-list" >
            <div style="display: inline-block;width: 75%;" >
                <div class="grid" >
                    <div class="item" v-for="(data,index) in list.child">
                        <p>
                            {{data.name}}
                        </p>
                        <ul class="list-footer" v-for="(datalist,index) in data.childs">
                            <li>
                                <a href="">
                                    {{datalist.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="con-box-image" >
                    <div class="box-list-product" v-for="(listBenner,index) in list.benner">
                        <p>{{listBenner.name}}</p>
                        <img :src="listBenner.img" alt="">
                    </div>
                </div>
            </div>
            <div class="image-list-categories">
                <div class="list-left" v-for="(datas,index) in list.imag">
                    <img :src="datas.img" alt="" width="50%">
                </div>
            </div>
        </div>
    </div>

</div>