<div>
    <div class="container">
        <div class="box-site-footer">
            <p class="footer-label">Help</p>
            <ul class="list-footer">
                <li>
                    <a href="">Customer Service,</a>
                </li>
                <li>
                    <a href="">
                        Disputes & Reports,
                    </a>
                </li>
                <li>
                    <a href="">
                        Buyer Protection,
                    </a>
                </li>
                <li>
                    <a href="">
                        Report IPR infringement,
                    </a>
                </li>
            </ul>
        </div>
        <div class="box-site-footer">
            <p class="footer-label">MN Multi-Language Sites</p>
            <ul class="list-footer">
                <li>
                    <a href="">Customer Service,</a>
                </li>
                <li>
                    <a href="">
                        Disputes & Reports,
                    </a>
                </li>
                <li>
                    <a href="">
                        Buyer Protection,
                    </a>
                </li>
                <li>
                    <a href="">
                        Report IPR infringement,
                    </a>
                </li>
            </ul>
        </div>
        <div class="box-site-footer">
            <p class="footer-label">Browse by Category</p>
            <ul class="list-footer">
                <li>
                    <a href="">Customer Service,</a>
                </li>
                <li>
                    <a href="">
                        Disputes & Reports,
                    </a>
                </li>
                <li>
                    <a href="">
                        Buyer Protection,
                    </a>
                </li>
                <li>
                    <a href="">
                        Report IPR infringement,
                    </a>
                </li>
            </ul>
        </div>
        <div class="box-site-footer">
            <p class="footer-label">MN Group</p>
            <ul class="list-footer">
                <li>
                    <a href="">Customer Service,</a>
                </li>
                <li>
                    <a href="">
                        Disputes & Reports,
                    </a>
                </li>
                <li>
                    <a href="">
                        Buyer Protection,
                    </a>
                </li>
                <li>
                    <a href="">
                        Report IPR infringement,
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>