<div>
    <div class="con-slider-list">
        <div class="con-list-item">
            <div class="box-list">
                <img src="../../assets/icon/money.svg" alt="" width="100%">
                <p class="text-price">Great Value</p>
                <p class="text-old">We offer competitive prices on our 100 million plus product range.</p>
            </div>
        </div>
        <div class="con-list-item">
            <div class="box-list">
                <img src="../../assets/icon/Delivery_3.svg" alt="" width="100%">
                <p class="text-price">Worldwide Delivery</p>
                <p class="text-old">With sites in 5 languages, we ship to over 200 countries & regions.</p>
            </div>
        </div>
        <div class="con-list-item">
            <div class="box-list">
                <img src="../../assets/icon/card-o.svg" alt="" width="100%">
                <p class="text-price">Safe Payment</p>
                <p class="text-old">Pay with the world’s most popular and secure payment methods.</p>
            </div>
        </div>
        <div class="con-list-item">
            <div class="box-list">
                <img src="../../assets/icon/bz-rightsprotection-36-o.svg" alt="" width="100%">
                <p class="text-price">Shop with Confidence</p>
                <p class="text-old">Our Buyer Protection covers your purchase from click to delivery.</p>
            </div>
        </div>
        <div class="con-list-item">
            <div class="box-list" style="border: none;">
                <img src="../../assets/icon//medical assistance.svg" alt="" width="100%">
                <p class="text-price">24/7 Help Center</p>
                <p class="text-old">Round-the-clock assistance for a smooth shopping experience.</p>
            </div>
        </div>
    </div>

    <div class="con-slider-list">
        <div class="con-list-contact">
            <div class="box-search">
                <p class="text-price">Be the first to know!</p>
                <div class="con-box-search">
                    <input type="email" placeholder="Please enter your email" class="search">
                    <input class="btn-sub" type="submit" value="Subscribe">
                </div>
                <p class="search-text">Get updates on deals, exclusive coupons and item recommendations..</p>
                <p class="conect-socail">Stay connected</p>
                <div class="image-socail">
                    <img src="../../assets/image/fb.png" alt="" width="30px">
                    <img src="../../assets/image/Instagram-Icon.png" alt="" width="30px">
                    <img src="../../assets/image/twitter.png" alt="" width="32px">
                </div>
            </div>
        </div>
        <div class="con-list-contact-right">
            <div class="box-search">
                <p class="text-price">Shopping with us</p>
                <ul class="list-ul">
                    <li>Making payments</li>
                    <li>Delivery options</li>
                    <li>Buyer Protection</li>
                </ul>
            </div>
            <div class="box-search">
                <p class="text-price">Customer service</p>
                <ul class="list-ul">
                    <li>Customer service</li>
                    <li>Transaction Services Agreement</li>
                    <li>Take our feedback survey</li>
                </ul>
            </div>
            <div class="box-search">
                <p class="text-price">Collaborate with us</p>
                <ul class="list-ul">
                    <li>Partnerships</li>
                    <li>Affiliate program</li>
                </ul>
            </div>
        </div>
    </div>

</div>