<div>
  <div class="con-header">
    <topnav></topnav>
    <div class="main-body">
      <nuxt />
    </div>
    <!-- <div class="con-footer">
      <Footer></Footer>
    </div> -->
    <!-- <div class="con-copy-right">
      <div class="container">
        <ul class="list-footer-copy-right">
          <li>
            <p>Intellectual Property Protection - </p>
          </li>
          <li>
            <p>Privacy Policy - </p>
          </li>
          <li>
            <p>Sitemap - </p>
          </li>
          <li>
            <p>Terms of Use - </p>
          </li>
          <li>
            <p>User Information Legal Enquiry Guide</p>
          </li>
          <li>
            <p>©️2010-2020 Konfulon.com. All rights reserved.</p>
          </li>
        </ul>
      </div>
    </div> -->
  </div>
</div>  